openapi: 3.2.0
info:
  title: Testiny Automation API
  description: The Testiny API is the documented public REST API behind the Testiny test management platform.
  version: 1.38.0
  contact:
    name: Testiny
    url: https://www.testiny.io
  license:
    name: Proprietary
    url: https://www.testiny.io/terms/
servers:
- url: https://app.testiny.io/api/v1
  description: Testiny API endpoint
security:
- ApiKeyAuth: []
tags:
- name: Automation
  description: Automated test cases and test runs submitted from CI/CD.
paths:
  /atm-testcase:
    get:
      operationId: listAutomationTestCases
      tags:
      - Automation
      summary: List automation test cases
      responses:
        '200':
          description: A list of automation test cases.
    post:
      operationId: createAutomationTestCase
      tags:
      - Automation
      summary: Create an automation test case
      responses:
        '200':
          description: The created automation test case.
  /atm-testrun:
    get:
      operationId: listAutomationTestRuns
      tags:
      - Automation
      summary: List automation test runs
      responses:
        '200':
          description: A list of automation test runs.
    post:
      operationId: createAutomationTestRun
      tags:
      - Automation
      summary: Create an automation test run
      description: Create an automation test run to collect results submitted from a CI/CD pipeline.
      responses:
        '200':
          description: The created automation test run.
  /atm-testrun/complete:
    post:
      operationId: completeAutomationTestRun
      tags:
      - Automation
      summary: Complete an automation test run
      description: Finalize an automation test run once all results have been submitted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationResults'
      responses:
        '200':
          description: The completed automation test run.
components:
  schemas:
    AutomationResults:
      type: object
      description: Results payload submitted for an automation test run.
      additionalProperties: true
      properties:
        atm_testrun_id:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              result_status:
                type: string
              duration_ms:
                type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key created in Testiny (Account settings / organization) with fine-grained permissions. Passed as the X-Api-Key request header. Treat the API key like a password.
